/*
   Color codes are according to W3.CSS Color Theme selected
*/
$col-theme    : #3f51b5;
$col-theme-l1 : #6271c8;
$col-theme-l3 : #b1b8e3;
$col-theme-l4 : #d8dcf1;
$col-striped  : #f1f1f1;

/*
   Styling Links
*/
a {
  color: white;
  background-color: $col-theme-l1;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: $col-theme-l4;
}
tr a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}
tr a:hover {
  color: inherit;
  background-color: inherit;
}

/*
   Styling Icon Links
*/
.icon {
  background: white;
}
.icon:hover {
  background: inherit;
}
.icon i {
  color: $col-theme;
}

/*
   Styling W3.CSS Tags as Links
*/
.w3-tag {
  background-color: $col-theme-l1;
}
.w3-tag:hover {
  color: black;
  background-color: $col-theme-l4
}

/*
  Fixed width span 230px
  See: https://stackoverflow.com/a/257531
*/
span.w230px {
  display: block;
  float: left;
  clear: left;
  width: 230px;
}

/*
  Zebra Table row
*/
.tr-even {
  background-color: $col-striped;
}

/*
  No script
  If JavaScript is enable, then onload remove this class.

  See: https://stackoverflow.com/a/6184511
*/
div.no-js {
  display: none;
}

/*
  Stylng HR (Horizontal Ruler/Line)

  See: https://www.w3schools.com/howto/howto_css_style_hr.asp
*/
hr.thick-1x {
  border: 1px solid;
  color: $col-theme-l3;
  margin: 25px 0;
}
hr.thick-2x {
  border: 2px solid;
  color: $col-theme-l3;
  margin-top: 0;
}

/*
  Headings
*/
.heading-top {
  padding-bottom: 22px;
}
.heading-center {
  padding-top: 22px;
  padding-bottom: 22px;
}
.heading-img {
  padding-top: 30px;
  padding-bottom: 30px;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/img/hero_c.jpg");
}
.sub-heading {
  padding-bottom: 22px;
}
.sub-heading h3 {
  margin-top: 0;
}

/*
  Columns
*/
.w3-third {
  margin-top: 12px;
}